# Data Science Tools and Ecosystem

## Author:

Mykyta Horobets

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
   - Popular languages used for Data Science
   - Popular libraries
   - Data Science tools
   - Arithmetic expressions using Python

Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. Ruby
   4. Java
   5. SQL

Some of the commonly used libraries used by Data Scientists include:
  1. Pandas
  2. Matplotlib
  3. Pyplot

Data Science Tools |
--
R Studio |
JupyterNotebook |
JupyterLab |
Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [4]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60